body{
    background-color: #dddddd;
    color: #ffffff;
}
h6{
    text-align: center;
}
p{
    font-size: 0.5rem;
    margin-top: 10px;
}

.box{
    width: 320px;
    height: 600px;
    background-color: #222831;
    border-radius: 50px;
    border: white 10px solid;
    margin: 75px auto;
    padding: 10px;
}

.notch{
    background-color: #ffffff;
    width: 160px;
    height: 25px;
    border-radius: 75px;
    position: relative;
    left: 65px;
    bottom: 15px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 5px;
}
.square{
    margin: 10px 5px;
    border: .5px solid white;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}
